p{
    padding-top: 15px;
}

a {
    font-size: 16px;
    color: #B21F50;
    text-decoration: wavy underline;
}

*:focus {
    outline: none;
    border: 6px dashed #417243;
}

h1 {
    text-align: center;
    line-height: 2;
    font-family: "Syncopate", sans-serif;
}

body {
    background-image: url("../images/pigeon-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #DDDDDD;
}

td {
    text-align: center;
    padding: 10px;
}

tbody, th {
    border-right: 2px solid black;
}

thead th{
    min-width: 125px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: #7e0820;
    text-align: center;
    border-bottom: 2px solid black;
    border-right: none;
}

td, th {
    border-bottom: 2px solid black;
}

thead:first-child {
    border-right:none;
}


th:first-child tr:first-child  {
    border-right: 2px solid black;
}


tr:nth-child(even){
    background-color: #D1D1D1;
}

tr:nth-child(odd){
    background-color: transparent;
}

tr:hover {
    background-color: rgb(126, 8, 32, 0.25)
}

table {
    border-spacing: 0;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

thead th:first-child{
    border-top-left-radius: 20px;
}

thead th:last-child{
    border-top-right-radius: 20px;
}